<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p><a href="http://www.concertlive.fr/festivals/jazz-a-villette" target="_blank"><strong>Jazz à la Villette
        2014</strong></a> se met en branle. Sur Twitter, Facebook et son site officiel, la communication du festival a
    déjà confirmé <strong>10 groupes et artistes internationaux</strong> rejoignant la <strong>programmation</strong>,
    avec à l'honneur pléthore de grands musiciens et grandes voix, pour la plupart très attendus par le public parisien
    fan de jazz et de styles dérivés.<br />&nbsp;</p>
  <p>Cet été, le public pourra ainsi retrouver en concert le trompettiste israélien <strong>Avishai Cohen</strong>, le
    saxophoniste américain <strong>Maceo Parker</strong>, le chanteur baryton <strong>José James</strong>, le pianiste
    cubain <strong>Roberto Fonseca</strong>, la chanteuse et flûtiste belge <strong>Melanie De Biasio</strong>, le
    soulman <strong>Charles Bradley</strong>, le saxophoniste <strong>Joshua Redman &amp; The Bad Plus</strong>, la
    chanteuse soul <strong>Laura Mvula</strong>, le contrebassiste parisien <strong>Henri Texier</strong> ou encore le
    fantasque Sean Matthew Tillmann alias <strong>Har Mar Superstar</strong>.<br />&nbsp;</p>
  <p>Tout ces musiciens prodiges du jazz (et bien d'autres noms) seront à retrouver au Parc de la Villette, dans les
    salles de la <strong>Cité de la musique</strong>, la <strong>Grand Halle</strong> et au <strong>Cabarat
      Sauvage</strong> à la rentrée, <strong>du mercredi 3 au dimanche 14 septembre 2014</strong>. Beaucoup de ces
    artistes viendront présenter leur nouvel ou premier album, à l'image de José James («While You Were Sleeping»),
    Melanie De Biaisio («No Deal»), Joshua Redman («Trios Live»)...<br />&nbsp;</p>
  <p><img alt="Jazz à la Villette : le festival annonce les 10 premiers noms de sa programmation 2014"
      src="/sites/default/files/imce/u4/jazz_a_la_villette_2014_10_premiers_noms.png"
      style="width: 640px; height: 237px;" /></p>
  <p>Info <strong>billetterie</strong>,<strong> </strong>la mise en <strong>vente des <a
        href="http://concertlive.fnacspectacles.com/recherche/rechercheRapide.do?search=Jazz+a+la+Villette"
        rel="nofollow" target="_blank">billets pour les concerts de Jazz à la Villette</a> a lieu ce mardi 6 mai 2014 à
      11h</strong>. Ne manquez pas ce rendez-vous pour acheter votre billet de concert sans stress. Jazz is not dead
    !<br /><br />&nbsp;</p>
  <p>© 2014 Concert Live Publishing. Toute reproduction interdite même partielle sans autorisation</p>
</body>

</html>